.cover__subtitle {
  margin: 0 auto auto;
  font-weight: normal;
  position: relative;
  top: 277px;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  z-index: 10;
}
