.header__logo {
  margin: 0;
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media (max-width : 767px) {
    .header__logo {
    margin: 0;
    background-image: url(../../../images/header-logo.svg);
    background-size: cover;
    width: 142px;
    height: 42px;
  }
}
