@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_lang/header__link_lang_ru.css);

.header {
  min-width: 1184px;
  margin: 28px 48px 0;
  display: grid;
  grid-template-columns: 176px 77px;
  justify-content: space-between;
}
