.cover__container {
  margin: 0 auto 92px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -10;
}

@media (max-width : 1279px) {
  .cover__container {
    min-height: 640px;
  }
}

@media (max-width : 1023px) {
  .cover__container {
    min-height: 480px;
    margin: 0 auto 88px;
  }
}

@media (max-width : 767px) {
  .cover__container {
    min-height: 200px;
    margin: 0 auto 64px;
  }
}
