.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

@media (max-width : 1279px) {
  .place__paragraph {
    margin: 0 0 20px;
  }

  .place__paragraph:last-of-type {
    margin: auto auto 0;
  }
}

@media (max-width : 1023px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 0 24px;
    line-height: 26px;
  }
}

@media (max-width : 767px) {
  .place:first-of-type .place__paragraph {
    padding-right: 20px;
  }

  .place:nth-of-type(4n) .place__paragraph {
    padding-right: 20px;
  }
}
