.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
  margin: 0 auto 0 0;
}

.place__link:hover {
  transition: opacity 1s linear;
  opacity: .8;
}
