.cover__title {
  padding-bottom: 5px;
  margin: 0 auto;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
  z-index: 100;
  position: relative;
  top: 245px;
}

@media (max-width : 1279px) {
  .cover__title {
    top: 195px;
  }
}

@media (max-width : 1023px) {
  .cover__title {
    top: 115px;
  }
}

@media (max-width : 767px) {
  .cover__title {
    top: 33px;
    width: 250px;
    padding: 0 19px;
    font-size: 32px;
    line-height: 35px;
  }
}
