.cover__title {
  padding-bottom: 5px;
  margin: 0 auto;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
  z-index: 100;
  position: relative;
  top: 245px;
}
